<h1>Über InfoMark</h1>
<p>Dies ist der vom Lehrstuhl Computergrafik Tübingen betriebene Submission-Server. Alle deine eingegebene Daten werden intern ausschließlich auf diesem Server gesichert und sind <b>nicht </b> durch Dritte zugänglich. Der Server wird im Universitäts-Netzwerk virtuell und physisch betrieben.</p>

<h3>techn. Ansprechpartner für Web-App und Testing</h3>

<address>
  <strong>Fabian Groh (Testing-Environment)</strong><br>
  <a href="mailto:fabian.groh@uni-tuebingen.de">fabian.groh@uni-tuebingen.de</a>
</address>

<address>
  <strong>Patrick Wieschollek (Web-App)</strong><br>
  <a href="mailto:patrick.wieschollek@uni-tuebingen.de">patrick.wieschollek@uni-tuebingen.de</a>
</address>

<p>Sollte es Probleme oder Fragen geben, zögert nicht uns zu kontaktieren.</p><p>Für Fragen bzgl. des Übungsbetriebs bitte die Tutoren kontaktieren.</p>