<div class="bootstrap-datetimepicker-widget timepicker-sbs" style="display: block;"><div class="row"><div class="datepicker col-md-6"><div class="datepicker-days" style="display: block;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="glyphicon glyphicon-chevron-left" title="Previous Month"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Month">December 2015</th><th class="next" data-action="next"><span class="glyphicon glyphicon-chevron-right" title="Next Month"></span></th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td data-action="selectDay" data-day="11/29/2015" class="day old weekend">29</td><td data-action="selectDay" data-day="11/30/2015" class="day old">30</td><td data-action="selectDay" data-day="12/01/2015" class="day">1</td><td data-action="selectDay" data-day="12/02/2015" class="day">2</td><td data-action="selectDay" data-day="12/03/2015" class="day">3</td><td data-action="selectDay" data-day="12/04/2015" class="day">4</td><td data-action="selectDay" data-day="12/05/2015" class="day weekend">5</td></tr><tr><td data-action="selectDay" data-day="12/06/2015" class="day weekend">6</td><td data-action="selectDay" data-day="12/07/2015" class="day">7</td><td data-action="selectDay" data-day="12/08/2015" class="day active">8</td><td data-action="selectDay" data-day="12/09/2015" class="day">9</td><td data-action="selectDay" data-day="12/10/2015" class="day">10</td><td data-action="selectDay" data-day="12/11/2015" class="day">11</td><td data-action="selectDay" data-day="12/12/2015" class="day weekend">12</td></tr><tr><td data-action="selectDay" data-day="12/13/2015" class="day weekend">13</td><td data-action="selectDay" data-day="12/14/2015" class="day">14</td><td data-action="selectDay" data-day="12/15/2015" class="day">15</td><td data-action="selectDay" data-day="12/16/2015" class="day">16</td><td data-action="selectDay" data-day="12/17/2015" class="day">17</td><td data-action="selectDay" data-day="12/18/2015" class="day">18</td><td data-action="selectDay" data-day="12/19/2015" class="day weekend">19</td></tr><tr><td data-action="selectDay" data-day="12/20/2015" class="day weekend">20</td><td data-action="selectDay" data-day="12/21/2015" class="day">21</td><td data-action="selectDay" data-day="12/22/2015" class="day">22</td><td data-action="selectDay" data-day="12/23/2015" class="day">23</td><td data-action="selectDay" data-day="12/24/2015" class="day">24</td><td data-action="selectDay" data-day="12/25/2015" class="day">25</td><td data-action="selectDay" data-day="12/26/2015" class="day today weekend">26</td></tr><tr><td data-action="selectDay" data-day="12/27/2015" class="day weekend">27</td><td data-action="selectDay" data-day="12/28/2015" class="day">28</td><td data-action="selectDay" data-day="12/29/2015" class="day">29</td><td data-action="selectDay" data-day="12/30/2015" class="day">30</td><td data-action="selectDay" data-day="12/31/2015" class="day">31</td><td data-action="selectDay" data-day="01/01/2016" class="day new">1</td><td data-action="selectDay" data-day="01/02/2016" class="day new weekend">2</td></tr><tr><td data-action="selectDay" data-day="01/03/2016" class="day new weekend">3</td><td data-action="selectDay" data-day="01/04/2016" class="day new">4</td><td data-action="selectDay" data-day="01/05/2016" class="day new">5</td><td data-action="selectDay" data-day="01/06/2016" class="day new">6</td><td data-action="selectDay" data-day="01/07/2016" class="day new">7</td><td data-action="selectDay" data-day="01/08/2016" class="day new">8</td><td data-action="selectDay" data-day="01/09/2016" class="day new weekend">9</td></tr></tbody></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="glyphicon glyphicon-chevron-left" title="Previous Year"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Year">2015</th><th class="next" data-action="next"><span class="glyphicon glyphicon-chevron-right" title="Next Year"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectMonth" class="month">Jan</span><span data-action="selectMonth" class="month">Feb</span><span data-action="selectMonth" class="month">Mar</span><span data-action="selectMonth" class="month">Apr</span><span data-action="selectMonth" class="month">May</span><span data-action="selectMonth" class="month">Jun</span><span data-action="selectMonth" class="month">Jul</span><span data-action="selectMonth" class="month">Aug</span><span data-action="selectMonth" class="month">Sep</span><span data-action="selectMonth" class="month">Oct</span><span data-action="selectMonth" class="month">Nov</span><span data-action="selectMonth" class="month active">Dec</span></td></tr></tbody></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="glyphicon glyphicon-chevron-left" title="Next Decade"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Decade">2010-2021</th><th class="next" data-action="next"><span class="glyphicon glyphicon-chevron-right" title="Previous Decade"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectYear" class="year">2010</span><span data-action="selectYear" class="year">2011</span><span data-action="selectYear" class="year">2012</span><span data-action="selectYear" class="year">2013</span><span data-action="selectYear" class="year">2014</span><span data-action="selectYear" class="year active">2015</span><span data-action="selectYear" class="year">2016</span><span data-action="selectYear" class="year">2017</span><span data-action="selectYear" class="year">2018</span><span data-action="selectYear" class="year">2019</span><span data-action="selectYear" class="year">2020</span><span data-action="selectYear" class="year">2021</span></td></tr></tbody></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="glyphicon glyphicon-chevron-left" title="Previous Century"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5">1999-2099</th><th class="next" data-action="next"><span class="glyphicon glyphicon-chevron-right" title="Next Century"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectDecade" class="decade" data-selection="2005">2000 - 2011</span><span data-action="selectDecade" class="decade" data-selection="2017">2012 - 2023</span><span data-action="selectDecade" class="decade" data-selection="2029">2024 - 2035</span><span data-action="selectDecade" class="decade" data-selection="2041">2036 - 2047</span><span data-action="selectDecade" class="decade" data-selection="2053">2048 - 2059</span><span data-action="selectDecade" class="decade" data-selection="2065">2060 - 2071</span><span data-action="selectDecade" class="decade" data-selection="2077">2072 - 2083</span><span data-action="selectDecade" class="decade" data-selection="2089">2084 - 2095</span><span data-action="selectDecade" class="decade" data-selection="2101">2096 - 2107</span><span></span><span></span><span></span></td></tr></tbody></table></div></div><div class="timepicker col-md-6"><div class="timepicker-picker"><table class="table-condensed"><tbody><tr><td><a href="#" tabindex="-1" title="Increment Hour" class="btn" data-action="incrementHours"><span class="glyphicon glyphicon-chevron-up"></span></a></td><td class="separator"></td><td><a href="#" tabindex="-1" title="Increment Minute" class="btn" data-action="incrementMinutes"><span class="glyphicon glyphicon-chevron-up"></span></a></td><td class="separator"></td></tr><tr><td><span class="timepicker-hour" data-time-component="hours" title="Pick Hour" data-action="showHours">08</span></td><td class="separator">:</td><td><span class="timepicker-minute" data-time-component="minutes" title="Pick Minute" data-action="showMinutes">09</span></td><td><button class="btn btn-primary" data-action="togglePeriod" tabindex="-1" title="Toggle Period">PM</button></td></tr><tr><td><a href="#" tabindex="-1" title="Decrement Hour" class="btn" data-action="decrementHours"><span class="glyphicon glyphicon-chevron-down"></span></a></td><td class="separator"></td><td><a href="#" tabindex="-1" title="Decrement Minute" class="btn" data-action="decrementMinutes"><span class="glyphicon glyphicon-chevron-down"></span></a></td><td class="separator"></td></tr></tbody></table></div><div class="timepicker-hours" style="display: none;"><table class="table-condensed"><tbody><tr><td data-action="selectHour" class="hour">12</td><td data-action="selectHour" class="hour">01</td><td data-action="selectHour" class="hour">02</td><td data-action="selectHour" class="hour">03</td></tr><tr><td data-action="selectHour" class="hour">04</td><td data-action="selectHour" class="hour">05</td><td data-action="selectHour" class="hour">06</td><td data-action="selectHour" class="hour">07</td></tr><tr><td data-action="selectHour" class="hour">08</td><td data-action="selectHour" class="hour">09</td><td data-action="selectHour" class="hour">10</td><td data-action="selectHour" class="hour">11</td></tr></tbody></table></div><div class="timepicker-minutes" style="display: none;"><table class="table-condensed"><tbody><tr><td data-action="selectMinute" class="minute">00</td><td data-action="selectMinute" class="minute">05</td><td data-action="selectMinute" class="minute">10</td><td data-action="selectMinute" class="minute">15</td></tr><tr><td data-action="selectMinute" class="minute">20</td><td data-action="selectMinute" class="minute">25</td><td data-action="selectMinute" class="minute">30</td><td data-action="selectMinute" class="minute">35</td></tr><tr><td data-action="selectMinute" class="minute">40</td><td data-action="selectMinute" class="minute">45</td><td data-action="selectMinute" class="minute">50</td><td data-action="selectMinute" class="minute">55</td></tr></tbody></table></div></div></div></div>

<div class="row" id="changelog">

        <div class="title">Changelog</div>

        <div class="version">Version 1.2.1 <span class="date">(2015-12-22)</span></div>

        <div class="log-group-title fixes">FIXES:</div>
        <ul>
            <li>IE11: Table head default text-align value</li>
        </ul>

        <div class="log-group-title improvements">IMPROVEMENTS:</div>
        <ul>
            <li>Updated Angular Material to 1.0.1 stable version</li>
            <li>ms-navigation directive can show a specific navigation tree by adding root="ITEMNAME" as an attribute</li>
        </ul>

        <div class="log-group-title new">NEW:</div>
        <ul>
            <li>Added print.scss for global print styles</li>
            <li>Added print styles for invoice</li>
        </ul>

        <div class="version">Version 1.2.0 <span class="date">(2015-12-15)</span></div>

        <div class="log-group-title fixes">FIXES:</div>
        <ul>
            <li>Angular Material scss file does not load correctly</li>
            <li>ToDo App filter buttons don't work on Firefox</li>
            <li>Forms being cut in simple page layout</li>
            <li>Small layout and general style fixes</li>
        </ul>

        <div class="log-group-title breaking-changes">BREAKING CHANGES:</div>
        <ul>
            <li>REPLACED Html based navigation with an object based one to encourage the modular structure</li>
            <li>UPDATED Angular Material to 1.0.0-rc7 . Due to new layout standards and breakpoints in Angular Material
                library, updating your app may require some layout and css changes
            </li>
        </ul>

        <div class="log-group-title improvements">IMPROVEMENTS:</div>
        <ul>
            <li>General layout tweaks to allow much easier layout modifications</li>
            <li>Splash screen. Now splash screen disappears after the content is completely loaded</li>
            <li>Improved timeline with better data loading and animations</li>
            <li>Added validations to the forms</li>
        </ul>

        <div class="log-group-title new">NEW:</div>
        <ul>
            <li>bodyClass on states for adding classes to the body per state basis</li>
            <li>Reset password form</li>
            <li>Login v2 &amp; Register v2 forms</li>
            <li>Form Wizard</li>
            <li>Object based navigation system</li>
            <li>Horizontal navigation</li>
            <li>Directive for global search box</li>
            <li>Scrumboard App</li>
        </ul>

        <div class="version">Version 1.1.0 <span class="date">(2015-10-19)</span></div>

        <div class="log-group-title fixes">FIXES:</div>
        <ul>
            <li>Authentication form styles</li>
            <li>Demo: Chart.js page doesn't work on production environment</li>
            <li>Missing Google Font injector for importing Roboto Font Family</li>
            <li>Other small bug fixes*</li>
        </ul>

        <div class="log-group-title breaking-changes">BREAKING CHANGES:</div>
        <ul>
            <li>Updated angular-material version to <code>0.11.2</code> <br>Run <code>bower update</code> after
                updating the theme
            </li>
            <li>Removed <code>$material-color-***</code> variables from scss. Use <code>material-color($colorName, $colorHue)</code>
                function instead
            </li>
            <li><code>md-COLORNAME-bg</code> classes will set both background and foreground colors. Use <code>COLORNAME-bg</code>
                or <code>COLORNAME-fg</code> if you only want to set one of the colors
            </li>
        </ul>

        <div class="log-group-title improvements">IMPROVEMENTS:</div>
        <ul>
            <li>Completely overhauled dashboards</li>
            <li>Completely overhauled TODO app. Working filters, drag-drop ordering and more...</li>
            <li>Improved pre-built theme colors</li>
            <li>Improved toolbar user menu</li>
            <li>Improved toolbar background color. Now you can use <code>md-primary</code> or
                <code>md-accent</code> on the toolbar to give it a color other than white
            </li>
            <li>Two more alignment options for Timeline (Left and Right aligned)</li>
        </ul>

        <div class="log-group-title new">NEW:</div>
        <ul>
            <li>Boxed layout</li>
            <li>Angular Material Datepicker and its component page</li>
            <li>Angular Material Swipe Element, Whiteframe and Menu Bar component pages</li>
            <li>Language switcher on toolbar</li>
            <li>Splash screen</li>
            <li>Imported <code>angular-material.scss</code> to give access to its variables from scss files</li>
            <li>
                <code>material-color($colorName, $colorHue)</code> function to get hex values of the Material
                Colors and their hues in scss.
                <div class="strong">Example:</div>
                <ul>
                    <li>
                        <code>color: material-color('red');</code>
                    </li>
                    <li>
                        <code>background-color: material-color('light-blue', '200');</code>
                    </li>
                </ul>
            </li>
            <li>Material Design colors and their hues as classes to set different colors on elements:
                <div class="strong">Examples:</div>
                <ul>
                    <li>
                        Following classes will set <code>background-color</code> of the element:
                        <ul>
                            <li>
                                <code>class="red-bg"</code>
                            </li>
                            <li>
                                <code>class="blue-400-bg"</code>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Following classes will set <code>color</code> of the element:
                        <ul>
                            <li>
                                <code>class="light-blue-bg"</code>
                            </li>
                            <li>
                                <code>class="light-blue-A100-bg"</code>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Following classes will set <code>border-color</code> of the element:
                        <ul>
                            <li>
                                <code>class="indigo-border"</code>
                            </li>
                            <li>
                                <code>class="pink-A100-border"</code>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Following classes will set <code>border-top-color</code> of the element:
                        <ul>
                            <li>
                                <code>class="amber-border-top"</code>
                            </li>
                            <li>
                                <code>class="green-400-border-top"</code>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Following classes will set <code>border-right-color</code> of the element:
                        <ul>
                            <li>
                                <code>class="amber-border-right"</code>
                            </li>
                            <li>
                                <code>class="green-400-border-right"</code>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Following classes will set <code>border-bottom-color</code> of the element:
                        <ul>
                            <li>
                                <code>class="amber-border-bottom"</code>
                            </li>
                            <li>
                                <code>class="green-400border-bottom"</code>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Following classes will set <code>border-right-color</code> of the element:
                        <ul>
                            <li>
                                <code>class="amber-border-right"</code>
                            </li>
                            <li>
                                <code>class="green-400-border-right"</code>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Material Colors page for showing Material color classes</li>
        </ul>

        <br>
        (*) For more detailed information about changes, you can take a look at the <em class="strong">1.1.0.diff</em>
        file from the theme
        zip file.

        <div class="break"></div>

        <!-- 1.0.0 -->
        <div class="version">Version 1.0.0 <span class="date">(2015-09-23)</span></div>
        <ul>
            <li>Initial Release</li>
        </ul>
        <!-- / 1.0.0 -->

    </div>