// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_linecomment {
    width: 80%;
    margin: 0;
    padding-top: 0px !important;
    background-color: honeydew;
}