<p>Hallo <%= @resource.name %>!</p>

<p>Es gab eine Anfrage dein Passwort zu ändern. Du kannst dies mittels Klick auf folgendne Link durchführen.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn du die Änderung nicht angefragt hast, kannst du diese Mail ruhig ignorieren.</p>
<p>Dein Passwort nur durch dich geändert werden.</p>
