<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms Of Use</h4>
      </div>
      <div class="modal-body">
        <!-- --------------------------------------- -->
        <div class="row">
        <div class="col-xs-12"><p align="left">Version in effect since January, 2016</p>

<p><em>PLEASE READ THESE TERMS OF USE (THE “AGREEMENT”) CAREFULLY AS IT GOVERNS YOUR USE OF THIS PORTAL.</em></p>

<p><strong>YOUR ACCEPTANCE OF THIS AGREEMENT</strong></p>

<ol>
  <li><strong>Parties</strong><strong>.</strong>&nbsp; This is the Agreement between you and all Persons you represent ("<strong>Person</strong>" includes natural persons and any type of incorporated or unincorporated entity) and The Tuebingen Online Learning Consortium (“<strong>Company</strong>”)&nbsp; regarding your access to and use of this website and all services, products, content and information available on or through <strong>autoMark Tuebingen</strong> (collectively, the "<strong>Portal</strong>").</li>
  <li><strong>Acceptance</strong><strong>.</strong>&nbsp; Each time you use the Portal you confirm your acceptance to be bound by this Agreement as then updated, and you represent and warrant that you have the legal authority to agree to and accept this Agreement on behalf of yourself and any Person you purport to represent.&nbsp; If you do not agree with any or all of the provisions of this Agreement, or you are not authorized to agree to and accept this Agreement on behalf of the Person you represent, you may not access or use the Portal.&nbsp; This Agreement is in addition to, and subject to, any other agreement you may have with Company, including the Portal Privacy Policy referenced herein.</li>
  <li><strong>Amendments</strong><strong>.</strong>&nbsp; Company may, from time to time and in its sole discretion, change this Agreement as it relates to future use of the Portal, by posting a revised Agreement on the Portal.&nbsp; By using the Portal after this revised Agreement has been posted, you accept to be bound by the revised Agreement.&nbsp; You may not change this Agreement in any manner.</li>
</ol>

<p><strong>USE OF THE PORTAL</strong></p>

<ol>
  <li value="4"><strong>Lawful Use</strong><strong>.</strong>&nbsp; You may use the Portal only in the manner described expressly in this Agreement and subject to all applicable laws.&nbsp; Using the Portal for any other purpose or in any other manner is strictly prohibited.&nbsp;&nbsp; You shall abide by all rules and regulations published by Company from time to time, in respect of your use of the Portal, including the User Code of Conduct attached hereto.&nbsp;</li>
  <li value="5"><strong>Accuracy</strong><strong>.</strong>&nbsp; All information you provide through this Portal must be true, accurate, current and complete.&nbsp; You will be solely responsible and liable for any and all loss, damage, and additional costs that you, Company or any other person may incur as a result of your submission of any false, incorrect or incomplete information or your failure to update information within 30 days of any change.</li>
  <li value="6"><strong>Ownership</strong><strong>.</strong>&nbsp; The Portal (including all content, text, graphics, scripts, presentation, and other information in text, graphical, video and audio forms, software, designs, applications, data, and other elements available on or through the Portal) is and remains the property of Company, its partner institutions and licensors, and is protected by copyright, trade-mark and other intellectual property laws.&nbsp; Your use of the Portal does not transfer to you any ownership or other rights in the Portal or its content.&nbsp; Any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by you or any Person you represent, including without limitation any patent rights, industrial design rights and copyrights, shall be and remain the exclusive property of Company.</li>
  <li value="7"><strong>Software</strong><strong>.</strong>&nbsp; Company, and its partner institutions and licensees, if any, may cause software to be available for you to download from the Portal or through other Portals and Internet resources.&nbsp; The software is protected by copyright, and your downloading and use of such software is governed by the applicable transaction agreement and the Software Licence Agreement specific to such software, if any..&nbsp; By downloading software, you signify your agreement and acceptance of the applicable transaction agreement and Software Licence Agreement.</li>
  <li value="8"><strong>No Guarantee</strong><strong>.</strong>&nbsp;&nbsp; Although Company and its partner institutions attempt to provide current and accurate information on the Portal, errors, inaccuracies, omissions or other errors may sometimes occur and Company, cannot guarantee that all content and data provided on the Portal will always be accurate, complete and up to date.&nbsp; Company reserves the right to correct any error, inaccuracy or omission at any time without prior notice or liability to you or any other Person.</li>
  <li value="9"><strong>Privacy</strong><strong>.</strong>&nbsp; The Company is committed to keeping your personal information confidential and safe.&nbsp; Please review the Portal Privacy Policy for more information.</li>
</ol>

<p><strong>DISCLAIMERS, LIABILITY EXCLUSIONS/LIMITATIONS</strong></p>

<ol>
  <li value="10"><strong>Disclaimers.</strong>&nbsp; YOUR ACCESS TO AND USE OF THE PORTAL IS AT YOUR OWN RISK.&nbsp; THE PORTAL IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY REPRESENTATIONS, WARRANTIES OR CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, AND INCLUDING WITHOUT LIMITATION IMPLIED REPRESENTATIONS, WARRANTIES OR CONDITIONS OF OR RELATING TO ACCURACY, ACCESSIBILITY, FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABILITY, PERFORMANCE OR DURABILITY, ALL OF WHICH ARE DISCLAIMED BY COMPANY TO THE FULLEST EXTENT PERMITTED BY LAW.</li>
  <li value="11"><strong>Liability </strong><strong>Exclusions.</strong>&nbsp; COMPANY, AND ITS PARTNER INSTITUTIONS, LICENSORS AND LICENSEES, IF ANY, WILL NEVER BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR EXEMPLARY LOSS OR DAMAGE ARISING FROM, CONNECTED WITH, OR RELATING TO THE PORTAL OR THIS AGREEMENT, INCLUDING, BUT NOT LIMITED TO, LOSS OF DATA, BUSINESS,&nbsp; SAVINGS, INCOME, PROFITS, USE, PRODUCTION, REPUTATION OR GOODWILL, ANTICIPATED OR OTHERWISE, OR ECONOMIC LOSS, UNDER ANY THEORY OF LIABILITY, REGARDLESS OF ANY FAULT OR WRONGDOING (INCLUDING WITHOUT LIMITATION GROSS NEGLIGENCE AND FUNDAMENTAL BREACH) BY COMPANY OR ITS ITS PARTNER INSTITUTIONS OR ANY PERSON FOR WHOM THEY ARE RESPONSIBLE, AND EVEN IF THEY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE BEING INCURRED.</li>
</ol>

<p><strong>GOVERNING LAW AND MISCELLANEOUS</strong></p>

<ol>
  <li value="12"><strong>Applicable Laws</strong><strong>.</strong>&nbsp; This Agreement, your access to and use of the Portal, and all related matters are governed solely by the laws of the Province of Tuebingen and the applicable federal laws of Canada.&nbsp; Any dispute between you and Company or any other person arising from, connected with or relating to the Portal, this Agreement, or any related matters (collectively "<strong>Disputes</strong>") will be resolved before the Courts of the Province of Tuebingen, sitting in the City of Toronto, and you hereby irrevocably submit and attorn to the original and exclusive jurisdiction of these courts in respect of all Disputes.</li>
  <li value="13"><strong>Restriction on Use</strong><strong>.</strong>&nbsp; Notwithstanding any other provision of this Agreement, Company may in its discretion change, discontinue, modify, restrict, suspend or terminate the Portal or any part of it without any notice or liability to you or any other person.&nbsp; Company may in its discretion and for its convenience at any time immediately terminate, temporarily or permanently, this Agreement or your permission to access and use the Portal without any notice or liability to you or any other Person.</li>
  <li value="14"><strong>Termination</strong><strong>.</strong>&nbsp; If this Agreement or your permission to access or use all or any part of the Portal is terminated for any reason, then this Agreement and all other then existing agreements between you and Company will continue to apply and be binding upon you regarding your prior access to and use of the Portal, and anything connected with, relating to or arising therefrom.</li>
  <li value="15"><strong>Severability</strong><strong>.</strong>&nbsp; If any provision of this Agreement is held to be invalid or unenforceable for any reason, then those provision will be deemed to be severed from this Agreement and the remaining provisions will continue in full force and effect.</li>
  <li value="16"><strong>Benefit</strong><strong>.</strong>&nbsp; This Agreement inures to the benefit of and is binding upon each of Company and its successors, assigns and related Persons, and you and your heirs, executors, administrators, successors, permitted assigns and personal representatives.&nbsp; You may not assign this Agreement or the rights and obligations under this Agreement.&nbsp; Company may assign this Agreement and its rights and obligations under this Agreement without your consent.</li>
  <li value="17"><strong>Non-Waiver</strong><strong>.</strong>&nbsp; Any rights not expressly granted by this Agreement are reserved to Company.&nbsp; No consent or waiver by Company to or of any breach or default by you in your performance of your obligations under this Agreement will be: (a) deemed or construed to be a consent to or waiver of a continuing breach or default or any other breach or default of those or any other of your obligations; or (b) effective unless in writing and signed by Company.</li>
  <li value="18"><strong>Notice.</strong>&nbsp; You may contact Company by telephone, email, or postal mail:&nbsp; 416-640-7056, <a href="mailto:inquiry@autoMark">inquiry@autoMark</a>, 180 Dundas Street West, Suite 1902, Toronto, Tuebingen M5G 1Z8.</li>
</ol>

<p>&nbsp;</p>

<p align="center"><strong>User Code of Conduct</strong></p>

<p>&nbsp;</p>

<ol style="list-style-type:upper-alpha;">
  <li><strong>GENERAL RESTRICTIONS AND LIMITATIONS</strong></li>
</ol>

<p>In respect of your use of the Portal , you may not:</p>

<ol>
  <li>enter without authorization, into equipment, facilities, networks or accounts to use, read, transfer or change the contents, or for any other purpose;</li>
  <li>use another individual's account or grant another individual access to your account;</li>
  <li>send inappropriate messages/dialogue to institutional contacts via the telephone, or e-mail, including but not limited to, messages/dialogue which are offensive, abusive, derogatory, seditious, harassing, or threatening;</li>
  <li>display, transmit, distribute or make available information that expresses or implies discrimination/ bullying or an intention to discriminate/bully;</li>
  <li>interfere with the normal operation of any institution or TSP information technology systems and connecting networks (this includes such things as flooding the network with messages or sending chain letters or pyramid solicitations);</li>
  <li>use autoMark or partner institution’s &nbsp;computer facilities for profit or commercial gain;</li>
  <li>create and/or use world-wide web information pages or links to point to offending materials that do not comply with the Tuebingen Human Rights Code or the Criminal Code of Canada; and</li>
  <li>use autoMark or partner institution’s &nbsp;facilities for any purpose that could be seen as a violation of the Criminal Code of Canada.</li>
</ol>

<p style="margin-left:36pt;">&nbsp;</p>

<ol style="list-style-type:upper-alpha;">
  <li value="2"><strong>RESPONSIBILITIES</strong></li>
</ol>

<p>In respect of your use of the Portal , you are responsible for:</p>

<ol>
  <li>any and all use of your account(s);</li>
  <li>maintaining secure passwords for all accounts assigned to you;</li>
  <li>ensuring and safeguarding against others obtaining unauthorized access to your accounts. You must not share passwords or any other access control information for your accounts;</li>
  <li>representing yourself honestly in all communications and correspondence; and</li>
  <li>reporting perceived infractions of the autoMark Code of Conduct Policy to either the Tuebingen Online Learning Consortium or a contact at your registering institution.</li>
</ol>

<p>As a user participating in this environment, you will abide by all rules and regulations published in this Code of Conduct policy and agree that you are subject to the jurisdiction of all disciplinary procedures established by your registering institution to address any alleged violation.</p>
</div>
    </div>
        <!-- --------------------------------------- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>