<h1>Aufgabe zum Übungsblatt hinzufügen</h1>
<p>Um automatische Tests pro Abgabe durchzuführen, muss ein Testing-Framework hinterlegt werden. Die Aufgabe wird zum folgenden <%= link_to "Übungsblatt", exercise_sheet_path(@exercise_sheet)%> hinzugefügt.</p>

<%= render 'form' %>

